
name: Pull Request Body Updates

env:
  GITHUB_TOKEN: ${{secrets.GH_TOKEN}}
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}

on:
  pull_request:
    branches: "*"

jobs:

  build:
    runs-on: ubuntu-latest
    
    if: github.ref != 'refs/heads/main'

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Set Up Git
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        
    - uses: octue/generate-pull-request-description@1.0.0.beta-2
      id: pr-description
      with:
        pull_request_url: ${{ github.event.pull_request.url }}
        api_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Update pull request body
      uses: riskledger/update-pr-description@v2
      with:
        body: ${{ steps.pr-description.outputs.pull_request_description }}
        token: ${{ secrets.GITHUB_TOKEN }}